.avatar{
	text-align: center;
	margin: 2% 0 5%;
	margin-bottom: 2%;
	margin-top: 6rem;
  z-index: 8;
}
.avatar img{
	height: auto;
	width: 12vh;
	margin-bottom: -1vh;
  border-radius: 100%;
}
.avatar h1{
	color: var(--white);
	font-size: 2rem;
}
.avatar h4{
	color: white;
	font-weight: normal;
	font-size: 0.8rem;
	margin-top: -1.4rem;
	padding: 0 12% 0;
}